[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
conan = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
recommonmark = "*"
breathe = "*"
pre-commit = "*"
reuse = "*"
checkov = "*"
aqtinstall = "*"

[dev-packages]

[requires]
python_version = "3.10"
