---
name: "Flatpak - Builder"

on:
  push:
    tags:
      - "*"
    branches-ignore:
      - "dependabot/**"
    paths:
      - "**.cpp"
      - "**.h"
      - "**.hpp"
      - "**.py"
      - cmake/**
      - src/**
      - CMakeLists.txt
      - conanfile.py
      - ".github/workflows/flatpak-build.yml"
      - "deploy/flatpak.yml"
  pull_request:
    # The branches below must be a subset of the branches above
    types: [opened, synchronize, reopened]
    paths:
      - "**.cpp"
      - "**.h"
      - "**.hpp"
      - "**.py"
      - cmake/**
      - src/**
      - CMakeLists.txt
      - conanfile.py
      - ".github/workflows/flatpak.yml"
      - "deploy/flatpak-build.yml"

  workflow_dispatch:

env:
  TARGET_NAME: qtwidgettest
  PROJECT_NAME: qtconanboilerplate
  BUNDLE: "org.jmuelbert.qtwidgettest.flatpak"
  MANIFEST_PATH: $GITHUB_WORKSPACE/deploy/flatpak.yml
  RUNTIME_REPO: "https://flathub.org/repo/flathub.flatpakrepo"
  APP_ID: "org.jmuelbert.${{env.TARGET_NAME}}"

jobs:
  flatpak:
    name: "Flatpak"
    runs-on: ubuntu-latest
    container:
      image: bilelmoussaoui/flatpak-github-actions:kde-6.3
      options: --privileged
    strategy:
      matrix:
        arch: [x86_64, aarch64]
      # Don't fail the whole workflow if one architecture fails
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      # Docker is required by the docker/setup-qemu-action which enables emulation
      - name: Install deps
        run: |
          dnf -y install docker
      - name: Set up QEMU
        id: qemu
        uses: docker/setup-qemu-action@v1
        with:
          platforms: arm64
      - uses: bilelmoussaoui/flatpak-github-actions/flatpak-builder@v4
        with:
          bundle: palette.flatpak
          manifest-path: ${MANIFEST_PATH}
          cache-key: flatpak-builder-${{ github.sha }}
          arch: ${{ matrix.arch }}
      - uses: bilelmoussaoui/flatpak-github-actions/flat-manager@v3
        name: "Deploy"
        with:
          repository: elementary
          flat-manager-url: https://flatpak-api.elementary.io
          token: some_very_hidden_token
          end-of-life: "The application has been renamed to..."
          end-of-life-rebase: "${APP_ID}"
